<div class="stats-landing">
    <app-header></app-header>

    <section class="stats-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="stats-single text-center">
                        <div class="stats-box">10,000</div>
                        <h3>Genes</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="stats-single text-center">
                        <div class="stats-box">1450</div>
                        <h3>Drugs</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="stats-single text-center">
                        <div class="stats-box">1275</div>
                        <h3>Disease</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mt-5">
                    <div class="stats-single text-center">
                        <div class="stats-box">10,000</div>
                        <h3>Genes</h3>
                    </div>
                </div>
                <div class="col-lg-4 mt-5">
                    <div class="stats-single text-center">
                        <div class="stats-box">1450</div>
                        <h3>Drugs</h3>
                    </div>
                </div>
                <div class="col-lg-4 mt-5">
                    <div class="stats-single text-center">
                        <div class="stats-box">1275</div>
                        <h3>Disease</h3>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <button class="btn enterApp" [routerLink]="['/dashboard']">Enter into App</button>
            </div>
        </div>
    </section>

    <section class="video-player">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <video width="100%" autoplay controls muted>
                        <source src="./assets/video/user-manual.mp4" type="video/mp4"/>
                    </video>
                </div>
                <div class="col-md-5 offset-md-1">
                    <h4 class="mb-3">User Manual to Use the Application</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                </div>
            </div>
        </div>
    </section>

   <app-footer></app-footer>
</div>