<div class="left-sidebar" style="overflow: scroll;">
    <div class="sidebar-card">
        <h3>Level Depth</h3>
        <div class="levels">
            <div class="level">1</div>
            <div class="level active">2</div>
            <div class="level">3</div>
        </div>
    </div>

    <div class="sidebar-card">
        <div class="heading">
            <h4>Level 1 Pair Type</h4>
        </div>
        <div class="body">
            <select name="" id="" class="form-control">
                <option value="">Select</option>
                <option value="">Drug - Gene</option>
                <option value="">Drug - Gene</option>
                <option value="">Drug - Gene</option>
            </select>
        </div>
    </div>

    <div class="sidebar-card">
        <div class="heading">
            <h4>Level 1 Relation</h4>
        </div>
        <div class="body">
            <div class="mb-1 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Activation</label>
            </div>
            <div class="mb-1 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck2">
                <label class="form-check-label" for="exampleCheck2">Inhibation</label>
            </div>
            <div class="mb-1 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck3">
                <label class="form-check-label" for="exampleCheck3">Inhibation</label>
            </div>
        </div>
    </div>

    <div class="sidebar-card">
        <div class="heading">
            <h4>Level 2 Pair Type</h4>
        </div>
        <div class="body">
            <select name="" id="" class="form-control">
                <option value="">Select</option>
                <option value="">Gene - Gene</option>
                <option value="">Gene - Company</option>
                <option value="">Gene - Disease</option>
            </select>
        </div>
    </div>

    <div class="sidebar-card">
        <div class="heading">
            <h4>Level 2 Relation</h4>
        </div>
        <div class="body">
            <div class="mb-1 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Activation</label>
            </div>
            <div class="mb-1 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck2">
                <label class="form-check-label" for="exampleCheck2">Inhibation</label>
            </div>
            <div class="mb-1 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck3">
                <label class="form-check-label" for="exampleCheck3">Inhibation</label>
            </div>
        </div>
    </div>

</div>